.blueFormGradient {
  background: radial-gradient(
        73.62% 201.19% at 100% 0%,
        #0041ff 0%,
        rgba(11, 14, 20, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #0b0e14;
}
.greenFormGradient {
  background: radial-gradient(
        73.62% 201.19% at 100% 0%,
        #adff00 0%,
        rgba(11, 14, 20, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #0b0e14;
}
.shadSidebar::after {
  box-shadow: -3px 3px 53px 16px rgba(14, 2, 255, 0.86);
}
.stakingGradient {
  background: radial-gradient(
        73.62% 201.19% at 100% 0%,
        #0041ff 0%,
        rgba(11, 14, 20, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #0b0e14;
}
.greenModal {
  background: radial-gradient(
        73.62% 201.19% at 100% 0%,
        #adff00 0%,
        rgba(11, 14, 20, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #0b0e14;
}
.blueModal {
  background: radial-gradient(
        73.62% 201.19% at 100% 0%,
        #0041ff 0%,
        rgba(11, 14, 20, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #0b0e14;
}
.greenShadow {
  box-shadow: 0px 10px 15px rgba(173, 255, 0, 0.25);
}
.blueShadow {
  box-shadow: 0px 10px 15px rgba(0, 65, 255, 0.25);
}
.bgBlack {
  background: radial-gradient(
        129.6% 58.24% at -14% 46.62%,
        rgba(0, 80, 255, 0.16) 0%,
        rgba(0, 80, 255, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #0b0e14;
}
.headerBtn {
  background: radial-gradient(
        46.96% 180% at 65% 140.83%,
        #00ff0a 13.03%,
        rgba(1, 255, 12, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        31.72% 121.6% at 94.78% 7.5%,
        #0041ff 16.71%,
        rgba(0, 65, 255, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #ffffff;
  border-radius: 15px;
}
.bgRect {
  background: radial-gradient(
    73.62% 101.19% at 100% 0%,
    #0041ff 0%,
    rgba(11, 14, 20, 0) 100%
  );
}
